* { margin: 0; padding: 0; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: 18px; font-weight: bold; color: white; text-transform: uppercase;}

:root {
    --hue: 10;
    --hue2: 50;
    --hue3: 90;
    --hue4: 130;
    --hue5: 170;

    /* S: 83 - 73; L: 76 - 56 */
    --jewelTonesLight: hsl(var(--hue), 100%, 67%); /* light */
    --jewelTonesBase: hsl(var(--hue), 100%, 57%); /* base */
    --jewelTonesDark: hsl(var(--hue), 54%, 44%); /* dark */

    /* S: 100 - 65; L: 90 - 75 */
    --pastelTonesLight: hsl(var(--hue2), 100%, 90%); /* light */
    --pastelTonesBase: hsl(var(--hue2), 82.5%, 82.5%); /* base */
    --pastelTonesDark: hsl(var(--hue2), 65%, 75%); /* dark */

    /* S: 41 - 36; L: 36 - 77 */
    --earthTonesLight: hsl(var(--hue3), 34%, 57%); /* light */
    --earthTonesBase: hsl(var(--hue3), 28%, 41%); /* base */
    --earthTonesDark: hsl(var(--hue3), 22%, 30%); /* dark */

    /* S: 100 - 10; L: 97 - 50 */
    --neutralTonesLight: hsl(var(--hue4), 100%, 97%); /* light */
    --neutralTonesBase: hsl(var(--hue4), 20%, 72.5%); /* base */
    --neutralTonesDark: hsl(var(--hue4), 10%, 50%); /* dark */

    /* S: 100 - 54; L: 44 - 39 */
    --fluorescentTonesLight: hsl(var(--hue5), 100%, 50%); /* light */
    --fluorescentTonesBase: hsl(var(--hue5), 100%, 44%); /* base */
    --fluorescentTonesDark: hsl(var(--hue5), 54%, 39%); /* dark */
}

body {
    display: grid;
    place-items: center;
    height: 100vh;
    background-color: gray;
}

.container {
    display: flex;
}

.boxes {
    height: 200px;
    width: 200px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.box {
    width: 100%;
    height: 100%;
}

/* jewel */

.boxes:nth-child(1)::before {
    content: "Jewel Tones";
    position: absolute;
    top: -55px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
}

.boxes:nth-child(1) > .box:nth-child(1) {
    background-color: var(--jewelTonesLight);
}

.boxes:nth-child(1) > .box:nth-child(2) {
    background-color: var(--jewelTonesBase);
}

.boxes:nth-child(1) > .box:nth-child(3) {
    background-color: var(--jewelTonesDark);
}





/* pastel */

.boxes:nth-child(2)::before {
    content: "Pastel Tones";
    position: absolute;
    top: -55px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
}

.boxes:nth-child(2) > .box:nth-child(1) {
    background-color: var(--pastelTonesLight);
}

.boxes:nth-child(2) > .box:nth-child(2) {
    background-color: var(--pastelTonesBase);
}

.boxes:nth-child(2) > .box:nth-child(3) {
    background-color: var(--pastelTonesDark);
}





/* earth */

.boxes:nth-child(3)::before {
    content: "Earth Tones";
    position: absolute;
    top: -55px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
}

.boxes:nth-child(3) > .box:nth-child(1) {
    background-color: var(--earthTonesLight);
}

.boxes:nth-child(3) > .box:nth-child(2) {
    background-color: var(--earthTonesBase);
}

.boxes:nth-child(3) > .box:nth-child(3) {
    background-color: var(--earthTonesDark);
}










/* neutral */

.boxes:nth-child(4)::before {
    content: "Neutral Tones";
    position: absolute;
    top: -55px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
}

.boxes:nth-child(4) > .box:nth-child(1) {
    background-color: var(--neutralTonesLight);
}

.boxes:nth-child(4) > .box:nth-child(2) {
    background-color: var(--neutralTonesBase);
}

.boxes:nth-child(4) > .box:nth-child(3) {
    background-color: var(--neutralTonesDark);
}




/* fluorescent */

.boxes:nth-child(5)::before {
    content: "Fluorescent Tones";
    position: absolute;
    top: -55px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
}

.boxes:nth-child(5) > .box:nth-child(1) {
    background-color: var(--fluorescentTonesLight);
}

.boxes:nth-child(5) > .box:nth-child(2) {
    background-color: var(--fluorescentTonesBase);
}

.boxes:nth-child(5) > .box:nth-child(3) {
    background-color: var(--fluorescentTonesDark);
}
